In [1]:
import pandas as pd
from pandasai.llm import OpenAI
from pandasai import SmartDataframe

In [2]:
llm = OpenAI(api_token="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")

df = pd.DataFrame({
    "country": ["United States", "United Kingdom", "France", "Germany", "Italy", "Spain", "Canada", "Australia", "Japan", "China"],
    "gdp": [19294482071552, 2891615567872, 2411255037952, 3435817336832, 1745433788416, 1181205135360, 1607402389504, 1490967855104, 4380756541440, 14631844184064],
    "happiness_index": [6.94, 7.16, 6.66, 7.07, 6.38, 6.4, 7.23, 7.22, 5.87, 5.12]
})

sample = df.sample(5)
sample

          country             gdp  happiness_index
1  United Kingdom   2891615567872             7.16
8           Japan   4380756541440             5.87
4           Italy   1745433788416             6.38
7       Australia   1490967855104             7.22
0   United States  19294482071552             6.94

In [3]:
df = SmartDataframe(df, config={"llm": llm, "sample_head": sample})
df.chat('Which are the 5 happiest countries?')

'Canada, Australia, United Kingdom, Germany, United States'

In [5]:
df._sample_head

          country             gdp  happiness_index
1  United Kingdom   2891615567872             7.16
8           Japan   4380756541440             5.87
4           Italy   1745433788416             6.38
7       Australia   1490967855104             7.22
0   United States  19294482071552             6.94