In [13]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import string
import spacy
import jaro
import re

In [14]:
def get_sheet(src):
    raw_html = requests.get(src).text
    soup = BeautifulSoup(raw_html, 'html.parser')
    table = soup.find("tbody")
    rows = table.find_all("tr")
    grid = []
    for row in rows:
        cols = row.find_all("td")
        clean_row = []
        for col in cols:
            clean_row.append(col.text)
        grid.append(clean_row)
    return grid

get_sheet("https://docs.google.com/spreadsheets/d/1SdgUPuYbxCl-AK9bLmHiizCrYsIXEQQz5PpBPCqO-rg/edit?usp=sharing")

[['work_year',
  'experience_level',
  'employment_type',
  'job_title',
  'salary',
  'salary_currency',
  'salary_in_usd',
  'employee_residence',
  'remote_ratio',
  'company_location',
  'company_size',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Principal Data Scientist',
  '80000',
  'EUR',
  '85847',
  'ES',
  '100',
  'ES',
  'L',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'MI',
  'CT',
  'ML Engineer',
  '30000',
  'USD',
  '30000',
  'US',
  '100',
  'US',
  'S',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'MI',
  'CT',
  'ML Engineer',
  '25500',
  'USD',
  '25500',
  'US',
  '100',
  'US',
  'S',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Scientist',
  '175000',
  'USD',
  '175000',
  'CA',
  '100',
  'CA',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Scientist',
  '120000',
  'USD',
  '120000',
  'CA',
  '100',
  'CA',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Applied Scientist',
  '222200',
  'USD',
  '222200',
  'US',
  '0',
  'US',
  'L',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Applied Scientist',
  '136000',
  'USD',
  '136000',
  'US',
  '0',
  'US',
  'L',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Scientist',
  '219000',
  'USD',
  '219000',
  'CA',
  '0',
  'CA',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Scientist',
  '141000',
  'USD',
  '141000',
  'CA',
  '0',
  'CA',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Scientist',
  '147100',
  'USD',
  '147100',
  'US',
  '0',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Scientist',
  '90700',
  'USD',
  '90700',
  'US',
  '0',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Analyst',
  '130000',
  'USD',
  '130000',
  'US',
  '100',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Analyst',
  '100000',
  'USD',
  '100000',
  'US',
  '100',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'EN',
  'FT',
  'Applied Scientist',
  '213660',
  'USD',
  '213660',
  'US',
  '0',
  'US',
  'L',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'EN',
  'FT',
  'Applied Scientist',
  '130760',
  'USD',
  '130760',
  'US',
  '0',
  'US',
  'L',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Modeler',
  '147100',
  'USD',
  '147100',
  'US',
  '0',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Modeler',
  '90700',
  'USD',
  '90700',
  'US',
  '0',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Scientist',
  '170000',
  'USD',
  '170000',
  'US',
  '0',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Scientist',
  '150000',
  'USD',
  '150000',
  'US',
  '0',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'MI',
  'FT',
  'Data Analyst',
  '150000',
  'USD',
  '150000',
  'US',
  '100',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'MI',
  'FT',
  'Data Analyst',
  '110000',
  'USD',
  '110000',
  'US',
  '100',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Research Engineer',
  '275000',
  'USD',
  '275000',
  'DE',
  '0',
  'DE',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Research Engineer',
  '174000',
  'USD',
  '174000',
  'DE',
  '0',
  'DE',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Analytics Engineer',
  '230000',
  'USD',
  '230000',
  'GB',
  '100',
  'GB',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Analytics Engineer',
  '143200',
  'USD',
  '143200',
  'GB',
  '100',
  'GB',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Business Intelligence Engineer',
  '225000',
  'USD',
  '225000',
  'US',
  '0',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Business Intelligence Engineer',
  '156400',
  'USD',
  '156400',
  'US',
  '0',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Machine Learning Engineer',
  '200000',
  'USD',
  '200000',
  'US',
  '0',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Machine Learning Engineer',
  '130000',
  'USD',
  '130000',
  'US',
  '0',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Strategist',
  '90000',
  'USD',
  '90000',
  'CA',
  '0',
  'CA',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Strategist',
  '72000',
  'USD',
  '72000',
  'CA',
  '0',
  'CA',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Engineer',
  '253200',
  'USD',
  '253200',
  'US',
  '0',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Engineer',
  '90700',
  'USD',
  '90700',
  'US',
  '0',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Computer Vision Engineer',
  '342810',
  'USD',
  '342810',
  'US',
  '0',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Computer Vision Engineer',
  '184590',
  'USD',
  '184590',
  'US',
  '0',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'MI',
  'FT',
  'Data Engineer',
  '162500',
  'USD',
  '162500',
  'US',
  '0',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'MI',
  'FT',
  'Data Engineer',
  '130000',
  'USD',
  '130000',
  'US',
  '0',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'MI',
  'FT',
  'Data Analyst',
  '105380',
  'USD',
  '105380',
  'US',
  '0',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'MI',
  'FT',
  'Data Analyst',
  '64500',
  'USD',
  '64500',
  'US',
  '0',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'EN',
  'FT',
  'Data Quality Analyst',
  '100000',
  'USD',
  '100000',
  'NG',
  '100',
  'NG',
  'L',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'EN',
  'FT',
  'Compliance Data Analyst',
  '30000',
  'USD',
  '30000',
  'NG',
  '100',
  'NG',
  'L',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2022',
  'MI',
  'FT',
  'Machine Learning Engineer',
  '1650000',
  'INR',
  '20984',
  'IN',
  '50',
  'IN',
  'L',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'EN',
  'FT',
  'Applied Scientist',
  '204620',
  'USD',
  '204620',
  'US',
  '0',
  'US',
  'L',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'EN',
  'FT',
  'Applied Scientist',
  '110680',
  'USD',
  '110680',
  'US',
  '0',
  'US',
  'L',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Engineer',
  '270703',
  'USD',
  '270703',
  'US',
  '0',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Engineer',
  '221484',
  'USD',
  '221484',
  'US',
  '0',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Scientist',
  '212750',
  'USD',
  '212750',
  'US',
  '100',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Scientist',
  '185000',
  'USD',
  '185000',
  'US',
  '100',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Scientist',
  '262000',
  'USD',
  '262000',
  'US',
  '100',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Scientist',
  '245000',
  'USD',
  '245000',
  'US',
  '100',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Scientist',
  '275300',
  'USD',
  '275300',
  'US',
  '100',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Scientist',
  '183500',
  'USD',
  '183500',
  'US',
  '100',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Scientist',
  '218500',
  'USD',
  '218500',
  'US',
  '100',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Scientist',
  '199098',
  'USD',
  '199098',
  'US',
  '100',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Engineer',
  '203300',
  'USD',
  '203300',
  'US',
  '100',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Engineer',
  '123600',
  'USD',
  '123600',
  'US',
  '100',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Research Engineer',
  '189110',
  'USD',
  '189110',
  'US',
  '0',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Research Engineer',
  '139000',
  'USD',
  '139000',
  'US',
  '0',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'EX',
  'FT',
  'Data Scientist',
  '258750',
  'USD',
  '258750',
  'US',
  '0',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'EX',
  'FT',
  'Data Scientist',
  '185000',
  'USD',
  '185000',
  'US',
  '0',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Engineer',
  '231500',
  'USD',
  '231500',
  'US',
  '100',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Engineer',
  '166000',
  'USD',
  '166000',
  'US',
  '100',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Scientist',
  '172500',
  'USD',
  '172500',
  'US',
  '100',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Scientist',
  '110500',
  'USD',
  '110500',
  'US',
  '100',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Engineer',
  '238000',
  'USD',
  '238000',
  'US',
  '0',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Engineer',
  '176000',
  'USD',
  '176000',
  'US',
  '0',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Engineer',
  '237000',
  'USD',
  '237000',
  'US',
  '100',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Engineer',
  '201450',
  'USD',
  '201450',
  'US',
  '100',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Applied Scientist',
  '309400',
  'USD',
  '309400',
  'US',
  '0',
  'US',
  'L',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Applied Scientist',
  '159100',
  'USD',
  '159100',
  'US',
  '0',
  'US',
  'L',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Engineer',
  '115000',
  'USD',
  '115000',
  'US',
  '0',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Engineer',
  '81500',
  'USD',
  '81500',
  'US',
  '0',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Scientist',
  '237000',
  'USD',
  '237000',
  'US',
  '100',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Scientist',
  '201450',
  'USD',
  '201450',
  'US',
  '100',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Computer Vision Engineer',
  '280000',
  'USD',
  '280000',
  'US',
  '0',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Computer Vision Engineer',
  '210000',
  'USD',
  '210000',
  'US',
  '0',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Architect',
  '280100',
  'USD',
  '280100',
  'US',
  '100',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Architect',
  '168100',
  'USD',
  '168100',
  'US',
  '100',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Engineer',
  '193500',
  'USD',
  '193500',
  'US',
  '100',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Engineer',
  '139000',
  'USD',
  '139000',
  'US',
  '100',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'MI',
  'FT',
  'Data Scientist',
  '510000',
  'HKD',
  '65062',
  'HK',
  '0',
  'HK',
  'L',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Machine Learning Engineer',
  '150000',
  'USD',
  '150000',
  'PT',
  '100',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'MI',
  'FT',
  'Applied Machine Learning Engineer',
  '65000',
  'EUR',
  '69751',
  'IN',
  '100',
  'DE',
  'S',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2022',
  'EN',
  'FT',
  'AI Developer',
  '300000',
  'USD',
  '300000',
  'IN',
  '50',
  'IN',
  'L',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'MI',
  'FT',
  'Machine Learning Engineer',
  '90000',
  'EUR',
  '96578',
  'NL',
  '100',
  'NL',
  'L',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Business Intelligence Engineer',
  '185900',
  'USD',
  '185900',
  'US',
  '0',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Business Intelligence Engineer',
  '129300',
  'USD',
  '129300',
  'US',
  '0',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Engineer',
  '225000',
  'USD',
  '225000',
  'US',
  '100',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Engineer',
  '175000',
  'USD',
  '175000',
  'US',
  '100',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Engineer',
  '185000',
  'USD',
  '185000',
  'US',
  '0',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Engineer',
  '140000',
  'USD',
  '140000',
  'US',
  '0',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Scientist',
  '45000',
  'EUR',
  '48289',
  'ES',
  '0',
  'ES',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Scientist',
  '36000',
  'EUR',
  '38631',
  'ES',
  '0',
  'ES',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Scientist',
  '105000',
  'USD',
  '105000',
  'US',
  '0',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',
  'Data Scientist',
  '70000',
  'USD',
  '70000',
  'US',
  '0',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'EN',
  'FT',
  'Machine Learning Engineer',
  '163196',
  'USD',
  '163196',
  'US',
  '0',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'EN',
  'FT',
  'Machine Learning Engineer',
  '145885',
  'USD',
  '145885',
  'US',
  '0',
  'US',
  'M',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2023',
  'SE',
  'FT',

In [15]:
def sheet_to_df(src):
    sheet = get_sheet(src)

    #A dataframe starts when a header is found
    #A header is a the first instance of a set of contiguous columns in the same row that contain at least some letters
    #A dataframe ends when a blank row is found or an empty column is found

    num = 0 #The number of the dataframe
    headers = [] #Each header is a tuple (num, row, col_start, col_end)
    binding_headers = []
    dfs = [] #Each df is a tuple (num, df)

    #First pass: get all the headers
    for row in range(len(sheet)):

        #if every cell in the row is empty, skip row
        if all([sheet[row][col].strip() == "" for col in range(len(sheet[row]))]):
            headers += binding_headers
            binding_headers = []
            continue

        for col in range(len(sheet[row])):

            #Check if the cell is bounded by a header
            if any([col >= header[2] and col <= header[3] for header in binding_headers]):
                continue

            #Check if the cell is commented out
            if sheet[row][col].strip().startswith("//"):
                continue
            
            if re.search('[a-zA-Z]', sheet[row][col]):
                head_start = col
                head_end = col
                while head_end < len(sheet[row]) and re.search('[a-zA-Z]', sheet[row][head_end]):
                    head_end += 1
                    print(sheet[row][head_end])
                binding_headers.append([num, row, head_start, head_end])
                num += 1   
    headers += binding_headers

    #Second pass: get all the dataframes
    for header in headers:
        df = []
        for row in range(header[1], len(sheet)):
            print(header[2], header[3])
            if all([sheet[row][col].strip() == "" for col in range(header[2], header[3])]):
                break
            df_row = []
            for col in range(header[2], header[3]):
                df_row.append(sheet[row][col])
            df.append(df_row)
        cols = df[0]
        data = df[1:]
        df = pd.DataFrame(data, columns=cols)
        dfs.append(df)
    
    return dfs

# dfs = sheet_to_df("https://docs.google.com/spreadsheets/d/1SJngKcNkzHupfVBSLLAwyZ5bzHILNRggxsjfXyLMI98/edit?usp=sharing")
dfs = sheet_to_df("https://docs.google.com/spreadsheets/d/1SdgUPuYbxCl-AK9bLmHiizCrYsIXEQQz5PpBPCqO-rg/edit?usp=sharing")
dfs

experience_level
employment_type
job_title
salary
salary_currency
salary_in_usd
employee_residence
remote_ratio
company_location
company_size

0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11
0 11

[   work_year experience_level employment_type                  job_title  \
 0       2023               SE              FT   Principal Data Scientist
 1       2023               MI              CT                ML Engineer
 2       2023               MI              CT                ML Engineer
 3       2023               SE              FT             Data Scientist
 4       2023               SE              FT             Data Scientist
 ..       ...              ...             ...                        ...
 94      2023               SE              FT             Data Scientist
 95      2023               EN              FT  Machine Learning Engineer
 96      2023               EN              FT  Machine Learning Engineer
 97      2023               SE              FT              Data Engineer
 98      2023               SE              FT              Data Engineer

     salary salary_currency salary_in_usd employee_residence remote_ratio  \
 0    80000             EUR         85847                 ES          100
 1    30000             USD         30000                 US          100
 2    25500             USD         25500                 US          100
 3   175000             USD        175000                 CA          100
 4   120000             USD        120000                 CA          100
 ..     ...             ...           ...                ...          ...
 94   70000             USD         70000                 US            0
 95  163196             USD        163196                 US            0
 96  145885             USD        145885                 US            0
 97  217000             USD        217000                 US          100
 98  185000             USD        185000                 US          100

    company_location company_size
 0                ES            L
 1                US            S
 2                US            S
 3                CA            M
 4                CA            M
 ..              ...          ...
 94               US            M
 95               US            M
 96               US            M
 97               US            M
 98               US            M

 [99 rows x 11 columns]]

In [16]:
def select_df(prompt, dfs):

    #Simplify the prompt to just the nouns
    nlp = spacy.load("en_core_web_sm")
    doc = nlp(prompt)
    nouns = [token.text for token in doc if (token.pos_ == 'NOUN' or token.pos_ == 'PROPN')]
    nouns = [word.lower() for word in nouns] #lowercase all the words (done after finding the nouns to preserve proper nouns)

    all_columns = [df.columns for df in dfs]

    #Find the similarity between the prompt subject and each df
    similarities = []
    for columns in all_columns:
        #Preprocess the columns
        cleaned_columns = [col.lower().strip().translate(str.maketrans('', '', string.punctuation)).split() for col in columns]
        cleaned_columns = [word for col in cleaned_columns for word in col] #flatten the list

        #Find the similarity
        similarity = 0
        for col in cleaned_columns:
            for word in nouns:
                similarity = max(jaro.jaro_winkler_metric(col, word), similarity)

        similarities.append(similarity)

    #Return the df with the highest similarity
    return dfs[similarities.index(max(similarities))]

prompt = "What is the median number of A"
df = select_df(prompt, dfs)
df

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M
...,...,...,...,...,...,...,...,...,...,...,...
94,2023,SE,FT,Data Scientist,70000,USD,70000,US,0,US,M
95,2023,EN,FT,Machine Learning Engineer,163196,USD,163196,US,0,US,M
96,2023,EN,FT,Machine Learning Engineer,145885,USD,145885,US,0,US,M
97,2023,SE,FT,Data Engineer,217000,USD,217000,US,100,US,M
98,2023,SE,FT,Data Engineer,185000,USD,185000,US,100,US,M